{% extends 'base.html' %}
{# account_created.html #}
{% load account %}
{% load socialaccount %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Compte créé</title>
</head>
<body>
    <h1>Votre compte a été créé avec succès !</h1>
    <p>Merci de vous être inscrit. Vous pouvez maintenant vous connecter.</p>
    <a href="{% url 'login' %}"class="btn btn-secondary">Se connecter</a>
    <a href="{% url 'home' %} "class="btn btn-secondary">Aller à la page d'accueil</a>
</body>
</html>
{% endblock %}


