{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'logo.png' %}"  alt="Logo du site" style="max-width: 100px;">
                <h1 class="mt-3">Bienvenue sur l'Aggrégateur d'Offres d'Emploi</h1>
                <p>Connectez-vous pour accéder à toutes les fonctionnalités et découvrir les dernières offres d'emploi.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a>
            </div>
        </div>

        <div class="row mt-4">
            {% if offres_emplois %}
                {% for offre in offres_emplois %}
                <div class="col-md-4 mb-4">
                    <div class="job-listing card h-100">
                        <div class="card-body d-flex flex-column justify-content-between" style="background-color: #EFF3F6;">
                            {% if offre.entreprise_logo %}
                                <img src="{{ offre.entreprise_logo }}" alt="Logo de l'entreprise" class="mr-1" style="max-width: 100px;">
                            {% endif %}
                            {% if offre.entreprise_nom %}
                                <h3 class="card-title" style="color: #2E3A44;">{{ offre.entreprise_nom }}</h3>
                            {% endif %}
                            <div>
                                <h4 class="card-title" style="color: #2E3A44;">{{ offre.intitule }}</h4>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Date:</strong> {{ offre.dateCreation }}</li>
                                    <li class="list-group-item"><strong>Métier :</strong> {{ offre.appellationlibelle }}</li>
                                    <li class="list-group-item"><strong>Lieu de travail:</strong> {{ offre.lieuTravail_libelle }}</li>
                                    <li class="list-group-item"><strong>Type de contrat:</strong> {{ offre.typeContrat}}  {{ offre.typeContratLibelle }}</li>
                                    {% if offre.entreprise_nom %}
                                    <li class="list-group-item"><strong>Entreprise:</strong> {{ offre.entreprise_nom }}</li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <strong>Salaire:</strong>
                                        {% if offre.salaire_libelle %}
                                            {{ offre.salaire_libelle }}
                                        {% endif %}
                                        {% if offre.salaire_complement1 %}
                                            {{ offre.salaire_complement1 }}
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>

                            <a href="{% url 'offre_detail' offre.id %}" class="btn btn-primary mt-3 align-self-center text-white">Voir Détails</a>
                        </div>
                    </div>
                </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row mt-4">
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        
        <div class="mt-4 text-center d-flex align-items-center flex-column">
            <div class="pagination mt-4 text-center">
                <ul class="pagination justify-content-center">
                    {% if offres_emplois.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="première">&laquo; première</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ offres_emplois.previous_page_number }}" aria-label="précédent">précédent</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">&laquo; première</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">précédent</span>
                        </li>
                    {% endif %}
            
                    <li class="page-item disabled">
                        <span class="page-link">Page {{ offres_emplois.number }} sur {{ offres_emplois.paginator.num_pages }}</span>
                    </li>
            
                    {% if offres_emplois.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ offres_emplois.next_page_number }}" aria-label="suivant">suivant</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ offres_emplois.paginator.num_pages }}" aria-label="dernière">dernière &raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">suivant</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link" aria-hidden="true">dernière &raquo;</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <p class="mt-4">Connectez-vous pour voir plus d'offres d'emploi.</p>
            <a href="{% url 'login' %}" class="btn btn-primary btn-sm mt-2">Se connecter</a>
        </div>
    </div>

    <style>
        /* Styles pour les filtres */
        #filter-form {
            padding: 10px;
            background-color: #ffffff; /* Fond blanc */
            font-family: 'codec-pro', sans-serif; /* Police en codec pro */
        }

        .job-listing {
            background-color: #EFF3F6; /* Fond de chaque annonce */
            padding: 20px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        .job-listing, .job-listing a {
            color: #2E3A44; /* Couleur de la police */
        }

        .btn-primary {
            background-color: #0695F1; /* Couleur du bouton "Enregistrer" */
        }
    </style>
{% endblock %}