{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
<table class="table table-striped table-hover table-bordered">
    <thead class="table-grey">
      <ul>
        <h5 class="list-group-item">Nom / Intitulé de l'offre</h5>
        <p class="card-text">Description</p>
        <li class="list-group-item" scope="col"><strong>Entreprise</strong></li>
        <li class="list-group-item" scope="col"><strong>Date</strong></li>
        <li class="list-group-item" scope="col"><strong>Lieu de Travail</strong></li>
        <li class="list-group-item" scope="col"><strong>Type de Contrat</strong></li>
        <li class="list-group-item" scope="col"><strong>Durée du contrat</strong></li>
        <li class="list-group-item" scope="col"><strong>Expérience</strong></li>
        <li class="list-group-item" scope="col"><strong>Exigences</strong></li>
        <li class="list-group-item" scope="col"><strong>Qualificaiton</strong></li>
        <li class="list-group-item" scope="col"><strong>Qualités professionnelles</strong></li>
        <li class="list-group-item" scope="col"><strong>Formations</strong></li>
        <li class="list-group-item" scope="col"><strong>Langues</strong></li>
        <li class="list-group-item" scope="col"><strong>Salaire</strong></li>
        <li class="list-group-item" scope="col"><strong>Contact</strong></li>
        <li class="list-group-item" scope="col"><strong>Origine de l'offre</strong></li>
      </ul>
      <button class="btn btn-primary">Enregistrer</button>
    </thead>
    <tbody>
      
  {% if records %}
      {% for record in records %}
          <ul>
              <li>{{ record.intitule }}</li>
              <li>{{ record.description }}</li>
              <li>{{ record.entreprise }}</li>
              <li>{{ record.date }}</li>
              <li>{{ record.lieu }}</li>
              <li>{{ record.type_contrat }}</li>
              <li>{{ record.experience }}</li>
              <li>{{ record.exigence }}</li>
              <li>{{ record.qualification }}</li>
              <li>{{ record.qualite_pro }}</li>
              <li>{{ record.formations }}</li>
              <li>{{ record.langues }}</li>
              <li>{{ record.salaire }}</li>
              <li>{{ record.contact }}</li>
              {% comment %} <li>{{ record.origine }}</li>
              <li><a href="{% url 'record' record.id %}">{{ record.id }}</a></li> {% endcomment %}
          </ul>
      {% endfor %}
  
  {% endif %}
  

	
	  </tbody>
	</table>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
    
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    
    </form>

{% endif %}

{% endblock %}