{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Liens vers les polices Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Codec+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0446F1;">
        <div class="container-fluid">
            <!-- Logo avec la police personnalisée -->
            <a class="navbar-brand text-white" href="{% url 'home' %}" style="font-family: 'Codec Pro', sans-serif;">
                <img src="{% static 'logo.png' %}" class="mr-2" width="50">
                FAST JOB
            </a>
        <!-- Bouton de bascule pour les petits écrans -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Contenu du menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}#accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'logout' %}">Log Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}#profil">Profil</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}#accueil">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>