{% extends 'base.html' %}
{% load static %}
{% block body_class %}offre-detail{% endblock %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-3">{{ offre.intitule }}</h1>
                <p>{{ offre.description }}</p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Date:</strong> {{ offre.dateCreation }}</li>
                    <li class="list-group-item"><strong>Lieu de travail:</strong> {{ offre.lieuTravail_libelle }}</li>
                    <li class="list-group-item"><strong>Type de contrat:</strong> {{ offre.typeContrat}}  {{ offre.typeContratLibelle }}</li>
                    <li class="list-group-item"><strong>Entreprise:</strong> {{ offre.entreprise_nom }}</li>
                    <li class="list-group-item">
                        <strong>Salaire:</strong>
                        {% if offre.salaire_libelle %}
                            {{ offre.salaire_libelle }}
                        {% endif %}
                        {% if offre.salaire_complement1 %}
                            {{ offre.salaire_complement1 }}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>

        <a href="{% url 'home' %}" class="btn btn-info mt-3">Retour à la liste des offres</a>
    </div>
{% endblock %}
