{% extends 'base.html' %}

{% block content %}
    <div class="card text-center" style="width: 300px; margin: auto; margin-top: 50px;">
        <div class="card-header h5 text-white bg-primary">Réinitialisation du Mot de Passe</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Entrez votre adresse e-mail, nous vous enverrons un e-mail avec des instructions pour réinitialiser votre mot de passe.
            </p>
            <form method="post" class="my-3">
                {% csrf_token %}
                <div class="form-outline">
                    <input type="email" id="typeEmail" name="email" class="form-control my-3" required />
                    <label class="form-label" for="typeEmail">Adresse e-mail</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
            </form>
            <div class="d-flex justify-content-between mt-4">
                <a class="" href="{% url 'login' %}">Se connecter</a>
                <a class="" href="{% url 'register' %}">S'inscrire</a>
            </div>
        </div>
    </div>
{% endblock %}
