{% extends 'base.html' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
  <h2>Réinitialisation du mot de passe</h2>
  <p>Nous vous avons envoyé des instructions pour réinitialiser votre mot de passe. Veuillez vérifier votre boîte de réception.</p>
  <p>Si vous ne recevez pas d'email, veuillez vérifier votre dossier de courrier indésirable ou assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit.</p>
  <a href="{% url 'login' %}" class="btn btn-primary">Se connecter</a>
  <a href="{% url 'home' %}" class="btn btn-secondary">Page d'accueil</a>
{% endblock %}