{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="mt-3">Profil de {{ user.username }}</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 offset-md-3">
                <!-- Afficher les informations de l'utilisateur -->
                <div id="user-info">
                    <div class="mb-3">
                        <strong>Nom d'utilisateur:</strong>
                        <p>{{ user.userprofile.user.username }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Prénom:</strong>
                        <p>{{ user.userprofile.first_name }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Nom de famille:</strong>
                        <p>{{ user.userprofile.last_name }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Adresse e-mail:</strong>
                        <p>{{ user.userprofile.email }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Ville:</strong>
                        <p>{{ user.userprofile.ville }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Âge:</strong>
                        <p>{{ user.userprofile.age }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Expériences:</strong>
                        <p>{{ user.userprofile.experiences }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Formations:</strong>
                        <p>{{ user.userprofile.formations }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Métiers Recherchés:</strong>
                        <p>{{ user.userprofile.metiers_recherches }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Compte LinkedIn:</strong>
                        <p>{{ user.userprofile.compte_linkedin }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Compte Twitter:</strong>
                        <p>{{ user.userprofile.compte_twitter }}</p>
                    </div>
                    <div class="mb-3">
                        <strong>Compte GitHub:</strong>
                        <p>{{ user.userprofile.compte_github }}</p>
                    </div>
                    
                    <!-- Vous pouvez ajouter d'autres champs ici -->
                
                    <!-- Bouton "Modifier" pour afficher le formulaire de modification -->
                    <a href="{% url 'update_user' pk=user.pk %}" class="btn btn-secondary">Modifier</a>
                    <a href="{% url 'delete_user' %}" class="btn btn-danger">Supprimer le compte</a>
                    <a href="{% url 'change_password' %}" class="btn btn-primary">Changer le mot de passe</a>
                </div>
                
                <!-- Formulaire de modification (initialisé comme caché) -->
                <div id="form-container" style="display: none;"></div>
            </div>
        </div>
    </div>

    <script>
        function toggleEdit() {
            var userInfo = document.getElementById("user-info");
            var formContainer = document.getElementById("form-container");

            if (formContainer.innerHTML.trim() === "") {
                // Afficher le formulaire de modification
                formContainer.innerHTML = `
                    <form method="post" action="{% url 'user_profile' %}">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- Afficher les informations de l'utilisateur que l'on peut modifier -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse e-mail</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="ville" class="form-label">Ville</label>
                            <input type="text" class="form-control" id="ville" name="ville" value="{{ form.ville.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">Age</label>
                            <input type="number" class="form-control" id="age" name="age" value="{{ form.age.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="experiences" class="form-label">Expériences</label>
                            <textarea class="form-control" id="experiences" name="experiences">{{ form.experiences.value }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Formations" class="form-label">Formations</label>
                            <textarea class="form-control" id="formations" name="formations">{{ form.formations.value }}</textarea>
                        </div>
                        <div class="mb-3">
                            <label for="metiers_recherches" class="form-label">Métiers Recherchés</label>
                            <input type="text" class="form-control" id="metiers_recherches" name="metiers_recherches" value="{{ form.metiers_recherches.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="compte_linkedin" class="form-label">Compte LinkedIn</label>
                            <input type="url" class="form-control" id="compte_linkedin" name="compte_linkedin" value="{{ form.compte_linkedin.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="compte_twitter" class="form-label">Compte Twitter</label>
                            <input type="text" class="form-control" id="compte_twitter" name="compte_twitter" value="{{ form.compte_twitter.value }}">
                        </div>
                        <div class="mb-3">
                            <label for="compte_github" class="form-label">Compte GitHub</label>
                            <input type="url" class="form-control" id="compte_github" name="compte_github" value="{{ form.compte_github.value }}">
                        </div>
                        <!-- Ajoutez d'autres champs du formulaire UserProfileForm -->
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                        <button onclick="toggleEdit()" type="button" class="btn btn-secondary">Annuler</button>
                    </form>`;
                userInfo.style.display = "none";  // Cacher les informations de l'utilisateur
                formContainer.style.display = "block";  // Afficher le formulaire de modification
            } else {
                // Réinitialiser le contenu du conteneur
                formContainer.innerHTML = "";
                userInfo.style.display = "block";  // Afficher les informations de l'utilisateur
                formContainer.style.display = "none";  // Cacher le formulaire de modification
            }
        }
    </script>
{% endblock %}
