/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
}

nav {
    background-color: #007BFF; /* Couleur de fond pour la barre de navigation */
    text-align: right;
    padding: 10px; /* Ajout d'un peu d'espace autour de la barre de navigation */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px; /* Ajout d'une marge basse pour tenir compte de la hauteur du footer */
}
.custom-footer {
    background-color: #0446F1;
    color: #fff;
    margin-top: 50px;
  }

.job-listing {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-page {
    min-height: 100vh; /* ou toute autre valeur appropriée */
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}